h1 {
  color: rgb(244, 244, 244);
  background-color: black;
  margin-left: 30%;
  margin-right: 30%;
}
a {
  margin-left: 48%;
  margin-right: 48%;
  color: aliceblue`;
  background-color: darkgreen;
}